<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
    <style>
        body{
        background-color: #153448;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color:#DFD0B8;
        margin: 30px;
      }
      button{
        background-color: #DFD0B8;
        color:#153448;
      }
      a{
        text-decoration: none;
        color:#153448;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }
    </style>
</head>
<body>
    <h1>Product Details for Product ID {{ prod_data.prod_id }}</h1>
    <p>Product Name: {{ prod_data.prod_name }}</p>
    <p>Product Price: {{ prod_data.prod_price }}</p>
    <p>Product Manufacture Date: {{ prod_data.prod_mfd }}</p>
    <p>Product Quantity: {{ prod_data.prod_quan }}</p>
    <p>Product Supplier: {{ prod_data.prod_supplier }}</p>

    <button><a href="">Back To Home Page</a></button>
</body>
</html>